<div class="popcorn-depth-field" aria-hidden="true">
  <span class="kernel kernel-1" data-depth="0.12"></span>
  <span class="kernel kernel-2" data-depth="0.2"></span>
  <span class="kernel kernel-3" data-depth="0.32"></span>
  <span class="kernel kernel-4" data-depth="0.16"></span>
  <span class="kernel kernel-5" data-depth="0.28"></span>
  <span class="kernel kernel-6" data-depth="0.1"></span>
  <span class="kernel kernel-7" data-depth="0.18"></span>
  <span class="kernel kernel-8" data-depth="0.24"></span>
  <span class="kernel kernel-9" data-depth="0.34"></span>
  <span class="kernel kernel-10" data-depth="0.14"></span>
  <span class="kernel kernel-11" data-depth="0.29"></span>
  <span class="kernel kernel-12" data-depth="0.21"></span>
  <span class="kernel kernel-13" data-depth="0.11"></span>
  <span class="kernel kernel-14" data-depth="0.27"></span>
  <span class="kernel kernel-15" data-depth="0.36"></span>
  <span class="kernel kernel-16" data-depth="0.17"></span>
</div>
